@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<body>
    <div class="us">
        <img src="../Content/images/us.jpg" />

        <p>Students from different departments,we came for a challenge to learn,and master new ways to create something meaningfull ,on our journey we  chose multiple apllications as our methods to advance and evolve and so far we all learned something  new ,making new memories.</p>
    </div>

</body>