@{
    ViewBag.Title = "Home Page";
}

    <body background="../Content/images/background.jpg">

        <h1>1.Lorem ipsum doloret GD:50</h1>
        <h1>2.Lorem ipsum doloret GD:50</h1>
        <h1>3.Lorem ipsum doloret GD:50</h1>
        <h1>4.Lorem ipsum doloret GD:50</h1>
        <h1>5.Lorem ipsum doloret GD:50</h1>
        <h1>6.Lorem ipsum doloret GD:50</h1>
  </body>
       
